# Week 3 July 28

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

iris = pd.read_csv("../../dataset/Iris.csv")

features = iris[['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm']]
label = iris['Species']

x_train, x_test, y_train, y_test = train_test_split(features, 
                                                    label, 
                                                    test_size=0.1,
                                                    shuffle = True,
                                                    random_state=42)

In [2]:
x_test.shape

(15, 4)

In [3]:
iris.nunique()

Id               150
SepalLengthCm     35
SepalWidthCm      23
PetalLengthCm     43
PetalWidthCm      22
Species            3
dtype: int64

In [4]:
iris.Species.unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [5]:
iris.Species=iris.Species.replace(('Iris-setosa', 'Iris-versicolor', 'Iris-virginica'),
                     (0,1,2))
iris

C:\Users\Muhammad Afiq\AppData\Local\Temp\ipykernel_16352\1415728685.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  iris.Species=iris.Species.replace(('Iris-setosa', 'Iris-versicolor', 'Iris-virginica'),

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0      1            5.1           3.5            1.4           0.2        0
1      2            4.9           3.0            1.4           0.2        0
2      3            4.7           3.2            1.3           0.2        0
3      4            4.6           3.1            1.5           0.2        0
4      5            5.0           3.6            1.4           0.2        0
..   ...            ...           ...            ...           ...      ...
145  146            6.7           3.0            5.2           2.3        2
146  147            6.3           2.5            5.0           1.9        2
147  148            6.5           3.0            5.2           2.0        2
148  149            6.2           3.4            5.4           2.3        2
149  150            5.9           3.0            5.1           1.8        2

[150 rows x 6 columns]

In [6]:
#extract features and label
features = iris[['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm']]
label = iris['Species']

x_train, x_test, y_train, y_test = train_test_split(features, 
                                                    label, 
                                                    test_size=0.1,
                                                    shuffle = True,
                                                    random_state=42)

In [7]:
features.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0            5.1           3.5            1.4           0.2
1            4.9           3.0            1.4           0.2
2            4.7           3.2            1.3           0.2
3            4.6           3.1            1.5           0.2
4            5.0           3.6            1.4           0.2

In [8]:
label.tail()

145    2
146    2
147    2
148    2
149    2
Name: Species, dtype: int64

In [9]:
iris.Species=iris.Species.replace(('Iris-setosa', 'Iris-versicolor', 'Iris-virginica'),
                     (0,1,2))

In [10]:
from sklearn.svm import SVC

In [11]:
model = SVC()
model.fit(x_train,y_train)
model.score(x_test,y_test)

1.0

In [12]:
model.predict([[7.2,3.2,6.0,1.8]])

C:\Users\Muhammad Afiq\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  warnings.warn(

array([2], dtype=int64)

In [13]:
import pickle
print(pickle.__version__)

AttributeError: module 'pickle' has no attribute '__version__'